.product-details {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details .details {
    margin-top: 20px;
}

.product-details .details p {
    margin-bottom: 10px;
}

.product-details .details p strong {
    font-weight: bold;
    margin-right: 5px;
}

.tariff-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .tariff-item {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .tariff-item ul {
    list-style: none;
    padding: 0;
  }
  
  .tariff-item ul li {
    margin-bottom: 5px;
  }

.sample-consumption-section {
    margin-bottom: 20px;
}
